*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    letter-spacing: 3px;
}
.movie-container{
    background: whitesmoke;
    width: 100%;
    max-width: 1200px;
    margin: 3rem auto;
}
.each-movie{
    background: white;
    border: 2px solid black;
}
h3 {
    text-align: center;
    
}

@media screen and (min-width: 992px) {
    .movie-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap:1.5rem;
    }
}